[package]
name = "io_splicer_demo"
version = "0.1.0"
edition = "2021"

[dependencies]
crossbeam-channel = "0.5"
regex = "1"
walkdir = "2"
anyhow = "1.0"
dashmap = "5"     # For concurrent "Java-like" map
flate2 = "1.0"    # gzip
bzip2 = "0.4"     # bzip2
zstd = "0.13"     # zstd